{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/datetime.jinja2' import time_ago %}
{% from 'macros/links.jinja2' import username_linked %}

{% macro render_message(message) %}
  {% if message.sender == request.user %}
    <article class="message is-message-mine">
  {% else %}
    <article class="message">
  {% endif %}

    <header>
      {{ username_linked(message.sender.username) }}
      {{ time_ago(message.created_time) }}
    </header>

    <div class="message-text"
      {% if request.user and request.user.open_new_tab_text %}
      data-js-external-links-new-tabs
      {% endif %}
    >{{ message.rendered_html|safe }}</div>
  </article>
{% endmacro %}
