// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.topic-listing {
  list-style-type: none;
  margin: 0;

  & > li {
    margin: 0;
    margin-bottom: 0.2rem;
    max-width: none;
  }
}

.topic-listing-filter {
  font-size: 0.6rem;
  margin: 0 0 0.4rem 0.4rem;
}

.topic {
  display: grid;
  grid-template-areas:
    "title    voting"
    "metadata voting"
    "content  voting"
    "info     voting";
  grid-template-columns: 1fr auto;

  // set some minimum row heights on mobile to space them out a bit
  grid-template-rows:
    auto
    minmax($min-touch-size, auto)
    auto
    minmax($min-touch-size, auto);
  @media (min-width: $size-md) {
    grid-template-rows: none;
  }

  position: relative;
  padding: 0.4rem;

  font-size: 0.6rem;

  header {
    grid-area: title;
    margin-bottom: 0.2rem;
    display: flex;
    min-height: 1rem;
  }

  .topic-metadata {
    grid-area: metadata;
  }

  .topic-title {
    display: inline;
    margin: 0;
    margin-right: 0.2rem;
    font-size: 0.8rem;
  }

  .topic-categories {
    grid-area: category;
  }

  .topic-info {
    grid-area: info;
  }

  .topic-text-excerpt {
    grid-area: content;
  }

  .topic-voting {
    grid-area: voting;
  }
}

.topic-categories {
  display: flex;
  align-items: center;
}

.topic-group {
  margin-right: 0.4rem;
}

.topic-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 2px;
  margin-right: 0.2rem;
  border: 1px dashed $blue;
}

.topic-log {
  dt {
    display: inline;
  }
}

.topic-log-listing {
  list-style-type: none;
  margin-left: 0;
  font-size: 0.6rem;
}

.topic-log-entry {
  margin-bottom: 0.8rem;
}

.topic-metadata {
  display: flex;
  margin-bottom: 0.2rem;
  max-height: 4rem;
  overflow: hidden;
}

.topic-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.topic-voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem;
  margin-bottom: auto;
  padding: 0.2rem;
  height: auto;
  min-width: 3rem;
  font-weight: normal;

  &.btn-used {
    border-color: transparent;

    .topic-voting-votes {
      font-weight: bold;
    }

    &:hover {
      background-color: darken($blue, 3%);
      border-color: darken($blue, 8%);
    }
  }
}

.topic-voting-votes {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.topic-voting-label {
  font-size: 0.6rem;
  line-height: 0.6rem;
}

.topic-text-excerpt {
  display: none;
  @media (min-width: $size-md) {
    display: block;
  }

  max-width: none;
  margin: 0 0.2rem 0.2rem 0;
  font-style: italic;

  h1 {
    margin: 0 0 0.4rem 0;
  }

  ol {
    list-style-type: decimal;
  }

  summary {
    line-height: 0.8rem;
  }

  summary::after {
    font-style: italic;
    content: "Re-collapse topic text";
    display: none;
  }

  &[open] {
    font-style: normal;
    font-size: 0.8rem;

    summary {
      font-size: 0.6rem;

      &::after {
        display: inline;
      }

      span {
        display: none;
      }
    }
  }
}

.topic-info {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-column-gap: 0.4rem;

  max-width: 30rem;
  margin-top: 0.2rem;
  white-space: nowrap;

  line-height: 0.6rem;
}

.topic-info-comments {
  white-space: normal;
}

.topic-info-comments-new {
  white-space: nowrap;
  color: $orange;
}

.topic-full {
  .topic-voting {
    float: right;
  }
}

.topic-full-byline {
  margin-bottom: 0.4rem;
  font-size: 0.6rem;
}

.topic-full-link {
  display: flex;
  word-break: break-all;
}

.topic-full-content {
  margin-top: 1rem;
}

.topic-full-text {
  overflow: auto;
}

.topic-comments-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 0.4rem;

  h2 {
    margin-bottom: 0;
    margin-right: 0.4rem;
    white-space: nowrap;
  }

  .form-listing-options {
    margin-left: auto;
  }
}

.is-topic-mine {
  border-left: 3px solid $violet !important;
  margin-left: -3px;
}

.is-topic-official {
  border-left: 3px solid $orange !important;
  margin-left: -3px;

  h1 {
    a, a:visited {
      color: $orange;
    }
  }
}
